@use '../../scss/breakpoints' as *;

#projects-section {
	margin: 1rem 0;
	.projects-content-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
		.project-card {
			display: flex;
			flex-direction: column;
			border-radius: 15px;
			border: 3px solid black;
			overflow: hidden;
			box-sizing: border-box;
			@include media-above($sm) {
				width: calc(50% - 0.5rem);
			}
			@include media-above($md) {
				width: calc(25% - 0.75rem);
			}
			.project-card-media {
				.project-card-image {
					box-sizing: border-box;
					border-bottom: 3px solid black;
					aspect-ratio: 1/1;
					width: 100%;
				}
			}
			.project-card-body {
				p {
					padding: 0 0.5rem;
				}
			}
		}
	}
}
