@use '../tools/' as *;

/* Header */

.header-content {
  animation: slideInLeft 5s;
}

.avatar-image {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  display: block;
  border-radius: 20%;
}
