@use '../tools/' as *;

/* Header */

.header-content {
  animation: slideInLeft 5s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .heading-container {
    width: 50%;
  }
}
