@use '../tools/' as *;

/* About Section */
.about-section {
  animation: slideInLeft 5s;
  @include media-above($md) {
    animation: slideInRight 5s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }
  .about-container {
    @include media-above($md) {
      width: 50%;
      order: 2;
    }
    .about-image {
      height: auto;
      width: 100%;
    }
  }
  .about-content {
    @include media-above($md) {
      width: 50%;
      order: 1;
    }
  }
}
