@use '../tools/' as *;

/* Clearance Section */
.clearance-section {
  width: 100%;
  animation: slideInRight 5s;
  @include media-above($md) {
    animation: slideInLeft 5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .clearance-image-container {
    @include media-above($md) {
      width: 50%;
      order: 2;
    }
    .clearance-image {
      width: 100%;
      height: auto;
      max-width: 375px;
      margin: 0 auto;
      display: block;
      border-radius: 20%;
    }
  }
  .clearance-content-container {
    @include media-above($md) {
      width: 50%;
      order: 1;
    }
  }
}
