@use '../tools/' as *;

/* Contact Section */
.contact-section {
  @include media-above($md) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: slideInLeft 5s;
  }
  .avatar-container {
    @include media-above($md) {
      width: 50%;
    }
    .avatar-image {
      height: auto;
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
      display: block;
      border-radius: 20%;
    }
  }
  .contact-content {
    @include media-above($md) {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h3 {
      display: none;
      @include media-above($md) {
        width: 50%;
        display: block;
        text-align: center;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      flex: wrap;
      justify-content: space-evenly;
      padding-left: 0;
      @include media-above($md) {
        gap: 1rem;
        width: 50%;
      }
      li {
        margin: 0.25rem;
        list-style: none;
        transition: all ease-in-out 1s;
        &:hover {
          transform: scale(1.5);
        }
      }
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        .contact-icon {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
