@use '../tools/' as *;

/* Expereience Section */

.experience-section {
  animation: slideInLeft 5s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .experience-image-container {
    .experience-image {
      width: 100%;
      height: auto;
      margin: 0 auto;
      display: block;
      max-width: 375px;
      border-radius: 30px;
    }
  }
  .experience-content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .experience-content-1 {
      animation: slideInLeft 5s;
      @include media-above($md) {
        animation: none;
      }
    }
    .experience-content-2 {
      animation: slideInRight 5s;
      @include media-above($md) {
        animation: none;
      }
    }
  }
}
