@use '../tools/' as *;

/* Expereience Section */

.experience-section {
  animation: slideInLeft 5s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include media-above($lg) {
    flex-direction: row;
  }
  .experience-image-container {
    @include media-above($lg) {
      width: 50%;
    }
    .experience-image {
      width: 100%;
      height: auto;
    }
  }
  .experience-content-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include media-above($lg) {
      width: 50%;
    }
    .experience-content-1 {
      animation: slideInLeft 5s;
    }
    .experience-content-2 {
      animation: slideInRight 5s;
    }
  }
}
