@use '../tools/' as *;

/* Skills Section */
.skills-section {
  animation: slideInLeft 5s;
  @include media-above($md) {
    animation: slideInRight 5s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .skills-image-container {
    @include media-above($md) {
      width: 50%;
      order: 2;
    }
    .skills-image {
      height: auto;
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
      display: block;
      border-radius: 20%;
    }
  }
  .skills-container {
    @include media-above($md) {
      display: flex;
      width: 50%;
      flex-direction: column;
      order: 1;
    }
  }
}
