@use '../tools/' as *;

/* Skills Section */
.skills-section {
  animation: slideInLeft 5s;
}
.skills-image {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  display: block;
  border-radius: 20%;
}
