/* This file imports all SCSS partials and compiles them into styles.css */
/* Breakpoints */
/* Colors */
/* Mixins */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes enlargeButton {
  0% {
    transform: scale(1);
  }
  100% {
    transform: translateY(-16px);
    transform: scale(2);
  }
}
/* Base */
body {
  margin: 0 10%;
  padding-bottom: 15%;
  background-color: #002347;
}

/* Typography */
body {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0.25rem;
  color: #ff8e00;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0.25rem;
  color: #ff8e00;
}

nav a {
  font-size: 0.8rem;
  color: #ffffff;
  font-weight: bold;
}
nav a:hover {
  color: #ffffff;
}

.contact-section a {
  color: #fd7702;
  font-weight: bold;
}
.contact-section a:hover {
  color: #ffffff;
}

/* Button */
/* Header */
.header-content {
  animation: fadeIn 5s;
  animation: slideInLeft 5s;
}

.avatar-image {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  display: block;
  border-radius: 20%;
}

/* Footer */
/* Navigation */
nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fd7702;
  height: 3.5rem;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}
nav ul li {
  margin: 0.25rem;
  list-style: none;
}

/* About Section */
.about-section {
  animation: slideInRight 5s;
}

.about-image {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  display: block;
  border-radius: 20%;
}

/* Clearance Section */
.clearance-section {
  animation: slideInRight 5s;
}

.clearance-image {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  display: block;
  border-radius: 20%;
}

/* Contact Section */
.contact-section {
  animation: slideInRight 5s;
}
.contact-section ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}
.contact-section ul li {
  margin: 0.25rem;
  list-style: none;
  transition: all ease-in-out 1s;
}
.contact-section ul li:hover {
  transform: scale(1.5);
}
.contact-section ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.contact-section ul a .contact-icon {
  width: 2rem;
  height: 2rem;
}

/* Expereience Section */
.experience-section .experience-header {
  animation: slideInLeft 5s;
}
.experience-section .experience-1 {
  animation: slideInRight 5s;
}
.experience-section .experience-2 {
  animation: slideInLeft 5s;
}

.experience-image {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  display: block;
  border-radius: 20%;
}

/* Projects Section */
.projects-section {
  animation: slideInLeft 5s;
}

.projects-image {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  display: block;
  border-radius: 20%;
}

/* Skills Section */
.skills-section {
  animation: slideInLeft 5s;
}

.skills-image {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
  display: block;
  border-radius: 20%;
}

/*# sourceMappingURL=style.css.map */
