@use '../tools/' as *;

/* Base */

body {
  margin: 0 10% 10% 10%;
  padding-bottom: 15%;
  background-color: $background-color;
  @include media-above($md) {
    margin: 5% 10%;
    padding-bottom: 0;
  }
}

main {
  @include media-above($md) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section {
    width: 100%;
    padding-bottom: 4rem;
  }
}
