$xs: 0px; // Extra small devices (phones)
$sm: 576px; // Small devices (landscape phones)
$md: 768px; // Medium devices (tablets)
$lg: 992px; // Large devices (desktops)
$xl: 1200px; // Extra large devices (large desktops)
$xxl: 1600px; // 2K and up
$uhd: 1920px; // 4K and up

@mixin media-above($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
