@use '../../scss/breakpoints' as *;

.skills-section {
	width: 100%;
	.skills-container {
		.skills-category {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			background-color: white;
			border: 3px solid black;
			border-radius: 15px;
		}
		.skills-icons {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
			box-sizing: border-box;
			padding: 0.5rem;
			gap: 0.5rem;
			width: 100%;
			@include media-above($sm) {
				width: 50%;
			}
			@include media-above($md) {
				width: 25%;
			}
			img {
				width: clamp(1rem, 3rem, 4rem);
				padding-bottom: 0.25rem;
			}
			.icon-tooltip {
				position: relative;
				background: linear-gradient(-45deg, #f8e42e, #e73c7e, #23a6d5, #ffd800);
				background-size: 400% 400%;
				animation: gradient 15s ease infinite;
				border-radius: 15px;
				border: 3px solid black;
				padding: 0.5rem 1rem;
				text-wrap: wrap;
				width: 100%;
				box-sizing: border-box;
				&:before {
					content: '';
					position: absolute;
					top: -10px;
					left: 50%;
					transform: translateX(-50%);
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid black;
				}
			}
		}
	}
}

// scale for large screens
