body {
	background: var(--main-gradient);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	margin: 0 auto;
	min-height: 100dvh;
	padding: 1rem;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-grow: 1;
}

section {
	flex: 1 1 auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
