@use 'sass:map';

/* Base colors */
$black: #000000;
$white: #ffffff;

/* Palette */
$lightblue: #afc4dd;
$blue: #6e99c4;
$yellow: #ffd800;
$lavender: #b590f9;
$purple: #5a2ca0;

$gradient-dark: linear-gradient(-45deg, #0f2027, #1b3b5c, #254a6d, #2c5364, #1f1c2c);
$gradient-light: linear-gradient(-45deg, #f8e42e, #e73c7e, #23a6d5, $yellow);

/* Themes */
$themes: (
	dark: (
		text-color: $white,
		text-color-reverse: $black,
		background-color: $black,
		header-color: $white,

		button-color: $lightblue,
		button-text-color: $black,
		button-color-hover: $blue,

		nav-bar-color: $lightblue,
		nav-bar-color-hover: $blue,
		nav-bar-text-color: $black,

		contact-link-color: $lightblue,
		contact-link-color-hover: $yellow,
		contact-link-color-visited: $lavender,
		main-gradient: $gradient-dark,
		text-shadow-color: $black,
	),
	light: (
		text-color: $white,
		text-color-reverse: $white,
		background-color: $white,
		header-color: $white,

		button-color: $blue,
		button-text-color: $white,
		button-color-hover: $lightblue,

		nav-bar-color: $blue,
		nav-bar-color-hover: $lightblue,
		nav-bar-text-color: $white,

		contact-link-color: $blue,
		contact-link-color-hover: $lightblue,
		contact-link-color-visited: $purple,
		main-gradient: $gradient-light,
		text-shadow-color: $black,
	),
);

/* Helper mixin to output CSS vars for each theme */
@mixin theme-vars($mode) {
	@each $key, $value in map.get($themes, $mode) {
		--#{$key}: #{$value};
	}
}

:root[data-theme='Dark'] {
	@include theme-vars(dark);
}

:root[data-theme='Light'] {
	@include theme-vars(light);
}
