@use '../../scss/breakpoints' as *;
nav {
	z-index: 1000;
	width: 100%;
	&:hover {
		cursor: pointer;
	}
	ul {
		display: flex;
		list-style: none;
		justify-content: space-between;
		padding: 0 1rem;
		li {
			width: 100%;
			text-align: center;
			padding: 0.5rem;
			box-sizing: border-box;
			border: 3px solid transparent;
			&:hover {
				border: 3px solid yellow;
				border-radius: 15px;
			}
		}
	}
}
