@use '../../scss/breakpoints' as *;
nav {
	margin: 1rem 0;
	width: 100%;
	&:hover {
		cursor: pointer;
	}
	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		justify-content: space-between;
		padding: 0;
		margin: 0.25rem 0;
		@include media-above($sm) {
			flex-direction: row;
		}
		li {
			box-sizing: border-box;
			width: 100%;
			text-align: center;
			padding: 0.5rem;
			.active-content {
				background-color: yellow;
				height: 3px;
				width: 100%;
			}
		}
	}
}
