@use '../../scss/breakpoints' as *;

header {
	display: flex;
	justify-content: space-between;
	z-index: 9999;
	.heading-container {
		width: 75%;
		&:hover {
			cursor: pointer;
		}
	}
	.contact-me-button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 25%;
		.contact-me-icon {
			width: 3rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.contact-icons {
		img {
			width: 2rem;
		}
	}
}
