@use '../../scss/breakpoints' as *;

header {
	display: flex;
	justify-content: space-between;
	z-index: 9999;
	.heading-container {
		width: 75%;
		&:hover {
			cursor: pointer;
		}
	}
	.contact-me-button-container {
		width: clamp(5rem, 8rem, 10rem);
		margin-left: auto;
		display: grid;
		place-items: center;
		.contact-me-icon {
			width: 50%;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.contact-icons {
		img {
			width: 2rem;
		}
	}
}
