footer {
	font-size: 1rem;
	margin-top: auto;
	text-align: center;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.heart-icon {
	width: 1rem;
	height: auto;
	vertical-align: middle;
}
