@use '../../scss/breakpoints' as *;
.contact-form {
	width: 100%;
	max-width: 30rem;
	.contact-form-input {
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}
	button {
		margin: 1rem;
		padding: 0.5rem;
	}
}

.contact-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	.contact-section {
		transition: opacity 0.6s ease-in-out;
		ul {
			display: flex;
			flex-direction: row;
			list-style: none;
			justify-content: space-evenly;
			padding: 0;
			li {
				a {
					display: flex;
					flex-direction: column;
					align-items: center;
					text-align: center;
					img {
						padding: 1rem;
						width: 2rem;
					}
				}
			}
		}
	}
}
