@use '../../scss/breakpoints' as *;
.icon-container {
	display: grid;
	place-items: center;
	.radial-container {
		display: grid;
		place-items: center;
		grid-area: 1/1;
		width: 25vw;
		height: auto;
		aspect-ratio: 1 / 1;
		.fan-out-container {
			grid-area: 1/1;
			.tools-scale-container {
				.tools-icon {
					width: clamp(1rem, 5vw, 4rem);
					height: auto;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}
