/* Colors */

$black: #000000; // Black
$white: #ffffff; // White

$text-color: $white;
$text-color-reverse: $black;
$background-color: $black;

$header-color: $white;

$button-color: #afc4dd;
$button-text-color: black;
$button-color-hover: #6e99c4;

$nav-bar-color: #afc4dd;
$nav-bar-color-hover: #6e99c4;
$nav-bar-text-color: black;

$contact-link-color: #afc4dd;
$contact-link-color-hover: yellow;
$contact-link-color-visted: #b590f9;

// // Pan Scheme
// Pink/Magenta	HEX = #FF218C	RGB = 255, 33, 140
// Yellow	HEX = #FFD800	RGB = 255, 216, 0
// Blue/Cyan	HEX = #21B1FF	RGB = 33, 177, 255
