@use './colors' as *;
@use './breakpoints' as *;

/* Typography */

body {
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header-color;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	margin: 0.25rem 0;
}

h1 {
	font-size: clamp(1.5rem, 6vw, 4rem);
}
h2 {
	font-size: clamp(1.25rem, 5vw, 3rem);
}
h3 {
	font-size: clamp(1.1rem, 4vw, 2.5rem);
}
h4 {
	font-size: clamp(1rem, 3vw, 2rem);
}
h5 {
	font-size: clamp(0.9rem, 2.5vw, 1.5rem);
}
h6 {
	font-size: clamp(0.8rem, 2vw, 1.25rem);
}

a {
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
	color: $contact-link-color;
}
nav {
	font-size: clamp(0.75rem, 4vw, 3rem);
	li {
		text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
		a {
			font-weight: bold;
			color: $nav-bar-text-color;
		}
	}
}

.icon-tooltip {
	font-weight: bold;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

footer {
	font-size: 0.75rem;
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.timeline {
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
